[submodule "modules/django-file-manager"]
	path = modules/django-file-manager
	url = https://github.com/app-generator/sample-django-file-manager.git
[submodule "modules/FileManager"]
	path = modules/FileManager
	url = https://github.com/talented/FileManager.git
[submodule "modules/starter"]
	path = modules/starter
	url = https://github.com/themesberg/tailwind-django-starter.git
